/******************
*   Oruga Theme 
*******************/

// import globals, helpers and functions
@import "utils/animations";
@import "utils/helpers";
@import "utils/root";
@import "utils/base";

// import Oruga components
@import "components/autocomplete";
@import "components/breadcrumb";
@import "components/button";
@import "components/carousel";
@import "components/checkbox";
@import "components/collapse";
@import "components/datepicker";
@import "components/datetimepicker";
@import "components/dropdown";
@import "components/field";
@import "components/icon";
@import "components/input";
@import "components/loading";
@import "components/menu";
@import "components/modal";
@import "components/notification";
@import "components/pagination";
@import "components/radio";
@import "components/select";
@import "components/skeleton";
@import "components/sidebar";
@import "components/slider";
@import "components/steps";
@import "components/switch";
@import "components/table";
@import "components/tabs";
@import "components/tag";
@import "components/taginput";
@import "components/timepicker";
@import "components/tooltip";
@import "components/upload";
