@use "../utils/helpers" as h;

.o-autocomplete {
    &__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-group,
        &--empty {
            @include h.disabled(h.useVar("control-disabled-opacity"));
        }
    }
}
