@use "sass:list";

/* @docs */
$breadcrumb-list-line-height: 1.25em !default;
$breadcrumb-item-spacer: 0.25em !default;
$breadcrumb-item-font-size: $base-font-size !default;
$breadcrumb-item-padding: 0.3em !default;
$breadcrumb-list-border-radius: var(--#{$prefix}base-border-radius) !default;
$breadcrumb-item-color: var(--#{$prefix}grey-dark) !default;
$breadcrumb-item-background-color: transparent !default;
$breadcrumb-item-active-color: var(--#{$prefix}primary) !default;
$breadcrumb-item-active-background-color: transparent !default;
$breadcrumb-item-disabled-color: var(--#{$prefix}grey-light) !default;
$breadcrumb-item-hover-color: var(--#{$prefix}white) !default;
$breadcrumb-item-hover-background-color: var(--#{$prefix}secondary) !default;
$breadcrumb-seperator-color: inherit;

/* @docs */

.o-breadcrumb {
    &__list {
        list-style: none;
        display: flex;
        padding: unset;
        line-height: var(
            --#{$prefix}breadcrumb-list-line-height,
            $breadcrumb-list-line-height
        );
    }

    &__item {
        -moz-appearance: none;
        -webkit-appearance: none;
        display: block;
        list-style: none;
        border: transparent;
        background-color: var(
            --#{$prefix}breadcrumb-item-background-color,
            $breadcrumb-item-background-color
        );
        color: var(--#{$prefix}breadcrumb-item-color, $breadcrumb-item-color);
        font-size: var(
            --#{$prefix}breadcrumb-item-size,
            $breadcrumb-item-font-size
        );
        border-radius: var(
            --#{$prefix}breadcrumb-list-border-radius,
            $breadcrumb-list-border-radius
        );

        // define seprator
        &:not(:first-child)::before {
            float: left;
            color: var(
                --#{$prefix}breadcrumb-seperator-color,
                $breadcrumb-seperator-color
            );
            content: var(--seperator, "/");
        }

        // remove sperator when custom seperator is used
        &:not(:has(.o-breadcrumb__item__link:first-child))::before {
            content: unset;
        }

        &:focus-within:not(&--disabled),
        &:focus:not(&--disabled),
        &:hover:not(&--disabled) {
            .o-breadcrumb__item__link {
                color: var(
                    --#{$prefix}breadcrumb-item-hover-color,
                    $breadcrumb-item-hover-color
                );
                background-color: var(
                    --#{$prefix}breadcrumb-item-hover-background-color,
                    $breadcrumb-item-hover-background-color
                );
                border-radius: var(
                    --#{$prefix}breadcrumb-list-border-radius,
                    $breadcrumb-list-border-radius
                );
            }
        }

        &--active .o-breadcrumb__item__link {
            font-weight: 500;

            color: var(
                --#{$prefix}breadcrumb-item-active-color,
                $breadcrumb-item-active-color
            );
            background-color: var(
                --#{$prefix}breadcrumb-item-active-background-color,
                $breadcrumb-item-active-background-color
            );
        }

        &--disabled .o-breadcrumb__item__link {
            cursor: inherit;
            color: var(
                --#{$prefix}breadcrumb-item-disabled-color,
                $breadcrumb-item-disabled-color
            );
        }

        &__icon {
            &--left {
                padding-right: var(
                    --#{$prefix}breadcrumb-item-spacer,
                    $breadcrumb-item-spacer
                );
            }

            &--right {
                padding-left: var(
                    --#{$prefix}breadcrumb-item-spacer,
                    $breadcrumb-item-spacer
                );
            }
        }

        &__link {
            margin: var(
                --#{$prefix}breadcrumb-item-spacer,
                $breadcrumb-item-spacer
            );
            padding: var(
                --#{$prefix}breadcrumb-item-padding,
                $breadcrumb-item-padding
            );
        }
    }

    /* size variants*/
    @each $name, $value in $sizes {
        &--#{$name} .o-breadcrumb__item {
            font-size: var(--#{$prefix}button-font-size-#{$name}, $value);
        }
    }

    /* color variants*/
    @each $name, $pair in $colors {
        $color: list.nth($pair, 1);

        &--#{$name} {
            --#{$prefix}focus: #{createFocus($color)};

            .o-breadcrumb__item .o-breadcrumb__item__link {
                color: var(--#{$prefix}variant-#{$name}, $color);

                &:hover {
                    /* background-color: darken($color, 2.5%)*/
                    /* IE 11 needs polyfill*/
                    filter: brightness(97.5%);
                }
            }
        }
    }

    /** alignment **/
    &--left {
        ol,
        ul {
            justify-content: flex-start;
        }
    }

    &--centered {
        ol,
        ul {
            justify-content: center;
        }
    }

    &--right {
        ol,
        ul {
            justify-content: flex-end;
        }
    }

    // focus effect
    &:focus,
    &:focus-visible,
    &:focus-within {
        .o-breadcrumb__item {
            box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus);
            outline: none;
        }
    }
}
