/* @docs */
/* @docs */

.o-collapse {
    &__trigger {
        cursor: pointer;

        &--expanded {
            width: 100%;
        }
    }

    &:is(details) {
        interpolate-size: allow-keywords;

        /* Chromium / Firefox */
        summary {
            /* Either remove the list style ... */
            list-style: none;

            /* ... or change the `display` property to something else */
            display: flex;
        }

        /* Webkit */
        summary::-webkit-details-marker {
            display: none;
        }

        /* This won't work yet */
        &::details-content {
            overflow: hidden;
            height: 0;
            /* Enable transitioning of `content-visibility` */
            transition:
                height 0.3s,
                content-visibility 0.3s;
            transition-behavior: allow-discrete;
        }

        &[open]::details-content {
            height: auto;
        }
    }
}
