/* @docs */
/* @docs */

.o-collapse {
    &__trigger {
        display: inline-block;
        cursor: pointer;

        &--expanded {
            width: 100%;
        }
    }

    &__content {
        display: inherit;
    }
}
