/* @docs */
/* @docs */

.o-dtpck {
    &__time {
        display: flex;
        justify-content: center;
        align-items: center;

        // override time dropdown shadow
        --#{$prefix}dropdown-menu-box-shadow: 0, 0, 0, 0;
    }
}
