@use "../utils/helpers" as h;

/* @docs */
/* @docs */

.o-datetimepicker {
    &__time {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .o-timepicker {
            // override time dropdown variables
            @include h.defineVar(
                "timepicker-content-box-shadow",
                #{0,
                0,
                0,
                0}
            );
            @include h.defineVar("timepicker-content-border-width", #{0});
        }
    }
}
