@use "sass:list";

/* @docs */
$input-background-color: #ffffff !default;
$input-border-color: var(--#{$prefix}grey-lighter) !default;
$input-border-style: solid !default;
$input-border-width: 1px !default;
$input-border-radius: var(--#{$prefix}base-border-radius) !default;
$input-rounded-border-radius: var(
  --#{$prefix}base-border-radius-rounded
) !default;
$input-box-shadow: $control-box-shadow !default;
$input-color: #363636 !default;
$input-icon-zindex: 4 !default;
$input-height: $control-height !default;
$input-line-height: var(--#{$prefix}base-line-height) !default;
$input-margin: 0 !default;
$input-padding: $control-padding-vertical $control-padding-horizontal !default;
$input-counter-font-size: 0.75rem !default;
$input-counter-margin: 0.25rem 0 0 0.5rem !default;
$input-textarea-max-height: 600px !default;
$input-textarea-min-height: 120px !default;
$input-textarea-padding: 0.625em !default;
/* @docs */

.o-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  position: relative;
  vertical-align: top;

  box-shadow: var(--#{$prefix}input-box-shadow, $input-box-shadow);
  background-color: var(
    --#{$prefix}input-background-color,
    $input-background-color
  );
  border-color: var(--#{$prefix}input-border-color, $input-border-color);
  border-style: var(--#{$prefix}input-border-style, $input-border-style);
  border-width: var(--#{$prefix}input-border-width, $input-border-width);
  border-radius: var(--#{$prefix}input-border-radius, $input-border-radius);
  color: var(--#{$prefix}input-color, $input-color);
  font-size: var(--#{$prefix}base-font-size, $base-font-size);
  height: var(--#{$prefix}input-height, $input-height);
  line-height: var(--#{$prefix}input-line-height, $input-line-height);
  padding: var(--#{$prefix}input-padding, $input-padding);
  margin: var(--#{$prefix}input-margin, $input-margin);

  &__wrapper {
    display: inline-block;
    position: relative;

    &--expanded {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;

      .o-input {
        width: 100%;
      }
    }
  }

  &__textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    resize: vertical;
    padding: var(--#{$prefix}input-textarea-padding, $input-textarea-padding);

    &:not([rows]) {
      max-height: var(
        --#{$prefix}input-textarea-max-height,
        $input-textarea-max-height
      );
      min-height: var(
        --#{$prefix}input-textarea-min-height,
        $input-textarea-min-height
      );
    }
  }

  &__counter {
    display: block;
    float: right;
    font-size: var(
      --#{$prefix}input-counter-font-size,
      $input-counter-font-size
    );
    margin: var(--#{$prefix}input-counter-margin, $input-counter-margin);
  }

  &__icon-left,
  &__icon-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--#{$prefix}input-height, $input-height);
    z-index: var(--#{$prefix}input-icon-zindex, $input-icon-zindex);
  }

  &__icon-right {
    right: 0;
  }

  &__icon-left {
    left: 0;
  }

  &--iconspace-left {
    padding-left: var(--#{$prefix}input-height, $input-height);
  }

  &--iconspace-right {
    padding-right: var(--#{$prefix}input-height, $input-height);
  }

  &--rounded {
    border-radius: var(
      --#{$prefix}input-rounded-border-radius,
      $input-rounded-border-radius
    );
  }

  // size variants
  @each $name, $value in $sizes {
    &--#{$name} {
      font-size: var(--#{$prefix}input-font-size-#{$name}, $value);
    }
  }

  // colar variants
  @each $name, $pair in $colors {
    $color: list.nth($pair, 1);

    &--#{$name} {
      --#{$prefix}focus: #{createFocus($color)};

      border-color: var(--#{$prefix}variant-#{$name}, $color);
    }
  }

  // focus effect
  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus);
  }
}
