@use "sass:map";
@use "../utils/helpers" as h;
@use "../utils/variables" as vars;

/* @docs */
$loading-zindex: map.get(vars.$zindex, "sticky") !default;
$loading-fullpage-zindex: map.get(vars.$zindex, "fixed") !default;
$loading-overlay-background-color: rgba(255, 255, 255, 0.5) !default;
/* @docs */

.o-loading {
    @include h.defineVar("loading-zindex", $loading-zindex);
    @include h.defineVar("loading-fullpage-zindex", $loading-fullpage-zindex);
    @include h.defineVar(
        "loading-overlay-background-color",
        $loading-overlay-background-color
    );

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: h.useVar("loading-zindex");

    &--fullpage {
        position: fixed;
        z-index: h.useVar("loading-fullpage-zindex");
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: h.useVar("loading-overlay-background-color");
    }
}
