/* @docs */
$menu-item-color: var(--#{$prefix}grey-dark) !default;
$menu-item-hover-color: var(--#{$prefix}black) !default;
$menu-item-hover-background-color: var(--#{$prefix}grey-light) !default;
$menu-item-active-color: var(--#{$prefix}primary-invert) !default;
$menu-item-active-background-color: var(--#{$prefix}primary) !default;
$menu-item-disabled-color: var(--#{$prefix}grey-light) !default;
$menu-list-border-left: 1px solid var(--#{$prefix}primary) !default;
$menu-list-line-height: 1.25em !default;
$menu-item-padding: 0.5em 0.75em !default;
$menu-nested-list-margin: 0.75em !default;
$menu-nested-list-padding-left: 0.75em !default;
$menu-label-color: $grey !default;
$menu-label-font-size: 0.75em !default;
$menu-label-spacing: 1em !default;
$menu-icon-spacer: 0.5rem !default;
/* @docs */

.o-menu {
  @each $name, $value in $sizes {
    &--#{$name} {
      font-size: var(--#{$prefix}menu-font-size-#{$name}, $value);
    }
  }

  &__list,
  &__item__wrapper {
    list-style: none;
  }

  &__list {
    line-height: var(--#{$prefix}menu-list-line-height, $menu-list-line-height);
  }

  &__item__submenu {
    border-left: var(--#{$prefix}menu-list-border-left, $menu-list-border-left);
    padding-left: var(
      --#{$prefix}menu-nested-list-padding-left,
      $menu-nested-list-padding-left
    );
    margin: var(--#{$prefix}menu-nested-list-margin, $menu-nested-list-margin);
  }

  &__label {
    text-transform: uppercase;
    color: var(--#{$prefix}menu-label-color, $menu-label-color);
    font-size: var(--#{$prefix}menu-label-font-size, $menu-label-font-size);

    &:not(:first-child) {
      margin-top: var(--#{$prefix}menu-label-spacing, $menu-label-spacing);
    }

    &:not(:last-child) {
      margin-bottom: var(--#{$prefix}menu-label-spacing, $menu-label-spacing);
    }
  }

  &__item {
    display: block;
    list-style: none;
    color: var(--#{$prefix}menu-item-color, $menu-item-color);
    padding: var(--#{$prefix}menu-item-padding, $menu-item-padding);
    font-size: var(--#{$prefix}menu-item-size, $base-font-size);

    &:hover:not(&--active):not(&--disabled) {
      color: var(--#{$prefix}menu-item-hover-color, $menu-item-hover-color);
      background-color: var(
        --#{$prefix}menu-item-hover-background-color,
        $menu-item-hover-background-color
      );
    }

    &--icon-text .o-icon {
      margin-right: var(--#{$prefix}menu-icon-spacer, $menu-icon-spacer);
    }

    &--active {
      color: var(--#{$prefix}menu-item-active-color, $menu-item-active-color);
      background-color: var(
        --#{$prefix}menu-item-active-background-color,
        $menu-item-active-background-color
      );
    }

    &--disabled {
      color: var(
        --#{$prefix}menu-item-disabled-color,
        $menu-item-disabled-color
      );
    }
  }
}
