/* @docs */
$pagination-disabled-opacity: var(--#{$prefix}base-disabled-opacity) !default;
$pagination-ellipsis-color: var(--#{$prefix}grey-light) !default;
$pagination-button-border-color: var(--#{$prefix}grey-light) !default;
$pagination-button-border-radius: var(--#{$prefix}base-border-radius) !default;
$pagination-button-border: 1px solid transparent !default;
$pagination-button-color: var(--#{$prefix}black) !default;
$pagination-button-background-color: transparent !default;
$pagination-button-background-color-hover: var(
  --#{$prefix}grey-lighter
) !default;
$pagination-button-current-background-color: var(--#{$prefix}primary) !default;
$pagination-button-current-border-color: var(--#{$prefix}primary) !default;
$pagination-button-current-color: #fff !default;
$pagination-button-height: 2.25em !default;
$pagination-button-hover-border-color: var(--#{$prefix}grey-light) !default;
$pagination-button-line-height: var(--#{$prefix}base-line-height) !default;
$pagination-button-margin: 0.25rem !default;
$pagination-button-min-width: 2.25em !default;
$pagination-button-padding: 0.5em 0.5em !default;
$pagination-margin: -0.25rem !default;
$pagination-rounded-border-radius: var(
  --#{$prefix}base-border-radius-rounded
) !default;
/* @docs */

.o-pagination {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: var(--#{$prefix}base-font-size, $base-font-size);
  margin: var(--#{$prefix}pagination-margin, $pagination-margin);

  @each $name, $value in $sizes {
    &--#{$name} {
      font-size: var(--#{$prefix}pagination-font-size-#{$name}, $value);
    }
  }

  &__button {
    @include unselectable;
    -moz-appearance: none;
    -webkit-appearance: none;

    align-items: center;
    box-shadow: none;
    display: inline-flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    line-height: var(
      --#{$prefix}pagination-link-line-height,
      $pagination-button-line-height
    );
    background-color: var(
      --#{$prefix}pagination-button-background-color,
      $pagination-button-background-color
    );
    border: var(--#{$prefix}pagination-link-border, $pagination-button-border);
    border-radius: var(
      --#{$prefix}pagination-link-border-radius,
      $pagination-button-border-radius
    );
    border-color: var(
      --#{$prefix}pagination-link-border-color,
      $pagination-button-border-color
    );
    color: var(--#{$prefix}pagination-link-color, $pagination-button-color);
    min-width: var(
      --#{$prefix}pagination-link-min-width,
      $pagination-button-min-width
    );
    height: var(--#{$prefix}pagination-link-height, $pagination-button-height);
    padding: var(
      --#{$prefix}pagination-link-padding,
      $pagination-button-padding
    );
    margin: var(--#{$prefix}pagination-link-margin, $pagination-button-margin);

    &:hover {
      text-decoration: none;
      border-color: var(
        --#{$prefix}pagination-link-hover-border-color,
        $pagination-button-hover-border-color
      );
      background-color: var(
        --#{$prefix}pagination-button-background-color-hover,
        $pagination-button-background-color-hover
      );
    }

    &--rounded {
      border-radius: var(
        --#{$prefix}pagination-rounded-border-radius,
        $pagination-rounded-border-radius
      );
    }

    &--disabled {
      pointer-events: none;
      opacity: var(
        --#{$prefix}pagination-disabled-opacity,
        $pagination-disabled-opacity
      );
    }

    &--current {
      pointer-events: none;
      background-color: var(
        --#{$prefix}pagination-link-current-background-color,
        $pagination-button-current-background-color
      );
      border-color: var(
        --#{$prefix}pagination-link-current-border-color,
        $pagination-button-current-border-color
      );
      color: var(
        --#{$prefix}pagination-link-current-color,
        $pagination-button-current-color
      );
    }
  }

  &__ellipsis {
    justify-content: center;
    text-align: center;
    pointer-events: none;
    margin: var(--#{$prefix}pagination-link-margin, $pagination-button-margin);
    color: var(
      --#{$prefix}pagination-ellipsis-color,
      $pagination-ellipsis-color
    );
  }

  &__button-next {
    order: 3;
  }

  &__button-previous {
    order: 2;
  }

  &__list {
    align-items: center;
    display: flex;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;
  }

  &--simple {
    justify-content: normal;
  }

  &--centered {
    justify-content: center;

    .o-pagination__button-previous {
      order: 1;
    }

    .o-pagination__button-next {
      order: 3;
    }

    .o-pagination__list {
      justify-content: center;
      order: 2;
    }
  }

  &--right {
    justify-content: flex-end;

    .o-pagination__button-previous {
      order: 1;
    }

    .o-pagination__button-next {
      order: 2;
    }

    .o-pagination__list {
      justify-content: flex-end;
      order: 2;
    }
  }

  &--mobile {
    justify-content: flex-start;
    flex-wrap: wrap;

    .o-pagination__button {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .o-pagination__button-previous {
      flex-grow: 1;
      flex-shrink: 1;
      order: 0;
    }

    .o-pagination__button-next {
      flex-grow: 1;
      flex-shrink: 1;
      order: 0;
    }

    .o-pagination__ellipsis {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .o-pagination__list {
      order: 0;
    }
  }
}
