@use "sass:list";

/* @docs */
$select-background-color: #fff !default;
$select-border-color: var(--#{$prefix}grey-lighter) !default;
$select-border-style: solid !default;
$select-border-width: 1px !default;
$select-border-radius: var(--#{$prefix}base-border-radius) !default;
$select-rounded-border-radius: var(
  --#{$prefix}base-border-radius-rounded
) !default;
$select-box-shadow: $control-box-shadow !default;
$select-color: #363636 !default;
$select-icon-zindex: 4 !default;
$select-height: $control-height !default;
$select-line-height: var(--#{$prefix}base-line-height) !default;
$select-margin: 0 !default;
$select-padding: $control-padding-vertical $control-padding-horizontal !default;
$select-arrow-color: $select-color !default;
$select-arrow-size: 1rem !default;
$select-placeholder-opacity: var(--#{$prefix}base-disabled-opacity) !default;
/* @docs */

@function svg_arrow($color) {
  $start: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">';
  $content: '<g transform="matrix(5.70052,0,0,5.70052,-1329.79,-547.054)"><path d="M233.451,101.749L235.617,99.422L242.013,105.565L248.463,99.422L250.642,101.749L242.013,110.052L233.451,101.749Z" style="fill:#{$color};stroke:white;stroke-width:0.18px;"/></g>';
  $end: "</svg>";

  @return svg-encode("#{$start}#{$content}#{$end}");
}

.o-ctrl-sel {
  display: inline-flex;
  position: relative;

  &--expanded {
    width: 100%;

    .o-sel {
      width: 100%;
    }
  }
}

.o-sel {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;

  box-shadow: var(--#{$prefix}select-box-shadow, $select-box-shadow);
  background-color: var(
    --#{$prefix}select-background-color,
    $select-background-color
  );
  border-color: var(--#{$prefix}select-border-color, $select-border-color);
  border-width: var(--#{$prefix}select-border-width, $select-border-width);
  border-style: var(--#{$prefix}select-border-style, $select-border-style);
  border-radius: var(--#{$prefix}select-border-radius, $select-border-radius);
  color: var(--#{$prefix}select-color, $select-color);
  font-size: var(--#{$prefix}base-font-size, $base-font-size);
  height: var(--#{$prefix}select-height, $select-height);
  line-height: var(--#{$prefix}select-line-height, $select-line-height);
  padding: var(--#{$prefix}select-padding, $select-padding);
  margin: var(--#{$prefix}select-margin, $select-margin);

  &-arrow {
    background-image: url(svg_arrow($select-arrow-color));
    background-repeat: no-repeat;
    background-size: var(--#{$prefix}select-arrow-size, $select-arrow-size);
    background-position: calc(
        100% - var(--#{$prefix}select-arrow-size, $select-arrow-size) * 0.5
      )
      center;
    padding-right: calc(
      var(--#{$prefix}select-arrow-size, $select-arrow-size) * 2
    );
  }

  &-iconspace-left {
    padding-left: var(--#{$prefix}select-height, $select-height);
  }

  &-iconspace-right {
    padding-right: var(--#{$prefix}select-height, $select-height);
  }

  // size variants
  @each $name, $value in $sizes {
    &--#{$name} {
      font-size: var(--#{$prefix}select-font-size-#{$name}, $value);
    }
  }

  // color variants
  @each $name, $pair in $colors {
    $color: list.nth($pair, 1);

    &--#{$name} {
      --#{$prefix}focus: #{createFocus($color)};

      border-color: var(--#{$prefix}variant-#{$name}, $color);
    }
  }

  &--rounded {
    border-radius: var(
      --#{$prefix}select-rounded-border-radius,
      $select-rounded-border-radius
    );
  }

  &--multiple {
    height: auto;
    padding: 0;
  }

  &--placeholder {
    opacity: var(
      --#{$prefix}select-placeholder-opacity,
      $select-placeholder-opacity
    );
  }

  &__icon-left,
  &__icon-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--#{$prefix}select-height, $select-height);
    z-index: var(--#{$prefix}select-icon-zindex, $select-icon-zindex);
  }

  &__icon-right {
    right: 0;
  }

  &__icon-left {
    left: 0;
  }

  &[disabled] {
    cursor: inherit;
  }

  // focus effect
  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus);
  }
}
