@use "sass:list";

/* @docs */
$sidebar-overlay: hsla(0, 0%, 4%, 0.86) !default;
$sidebar-box-shadow: 5px 0px 13px 3px rgba(var(--#{$prefix}black), 0.1) !default;
$sidebar-content-background-color: var(--#{$prefix}grey-lighter) !default;
$sidebar-border-radius: var(--#{$prefix}base-border-radius) !default;
$sidebar-border-width: 1px !default;
$sidebar-border-color: rgba(0, 0, 0, 0.175) !default;
$sidebar-reduced-width: 80px !default;
$sidebar-width: 260px !default;
$sidebar-zindex: 100 !default;
/* @docs */

.o-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;

  &__content {
    position: absolute;
    background-color: var(
      --#{$prefix}sidebar-content-background-color,
      $sidebar-content-background-color
    );
    border-radius: var(
      --#{$prefix}sidebar-border-radius,
      $sidebar-border-radius
    );
    box-shadow: var(--#{$prefix}sidebar-box-shadow, $sidebar-box-shadow);

    @each $name, $pair in $colors {
      $color: list.nth($pair, 1);
      &--#{$name} {
        background-color: var(--#{$prefix}variant-#{$name}), $color;
      }
    }

    // position
    &--right,
    &--left {
      transition: width var(--#{$prefix}transition-duration)
        var(--#{$prefix}transition-timing);
      width: var(--#{$prefix}sidebar-width, $sidebar-width);
    }

    &--top,
    &--bottom {
      transition: height var(--#{$prefix}transition-duration)
        var(--#{$prefix}transition-timing);
      height: var(--#{$prefix}sidebar-width, $sidebar-width);
    }

    &--right {
      left: auto;
      right: 0;
      border-left: var(--#{$prefix}sidebar-border-width, $sidebar-border-width)
        solid var(--#{$prefix}sidebar-border-color, $sidebar-border-color);
    }

    &--left {
      left: 0;
      right: auto;
      border-right: var(--#{$prefix}sidebar-border-width, $sidebar-border-width)
        solid var(--#{$prefix}sidebar-border-color, $sidebar-border-color);
    }

    &--top {
      top: 0;
      bottom: auto;
      border-bottom: var(
          --#{$prefix}sidebar-border-width,
          $sidebar-border-width
        )
        solid var(--#{$prefix}sidebar-border-color, $sidebar-border-color);
    }

    &--bottom {
      top: auto;
      bottom: 0;
      border-top: var(--#{$prefix}sidebar-border-width, $sidebar-border-width)
        solid var(--#{$prefix}sidebar-border-color, $sidebar-border-color);
    }

    &--reduced {
      width: var(--#{$prefix}sidebar-reduced-width, $sidebar-reduced-width);

      &-expand {
        &:hover {
          transition: width var(--#{$prefix}transition-duration)
            var(--#{$prefix}transition-timing);
          width: var(--#{$prefix}sidebar-width, $sidebar-width);
        }
      }
    }

    &--fullwidth {
      width: 100%;
      max-width: 100%;
    }

    &--fullheight {
      height: 100%;
      max-height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: var(--#{$prefix}sidebar-overlay, $sidebar-overlay);
  }

  &--active {
    display: block;
  }

  &--inline {
    position: relative;

    .o-side__overlay {
      position: absolute;
    }

    .o-side__content {
      position: relative;
    }
  }

  &:not(&--inline) {
    z-index: var(--#{$prefix}sidebar-zindex, $sidebar-zindex);
  }
}
