@use "sass:list";

/* @docs */
$sidebar-overlay: hsla(0, 0%, 4%, 0.86) !default;
$sidebar-box-shadow: 5px 0px 13px 3px rgba($black, 0.1) !default;
$sidebar-content-background-color: $grey-lighter !default;
$sidebar-border-radius: $base-border-radius !default;
$sidebar-border-width: 1px !default;
$sidebar-border-color: rgba(0, 0, 0, 0.175) !default;
$sidebar-reduced-width: 80px !default;
$sidebar-width: 260px !default;
$sidebar-zindex: 100 !default;
/* @docs */

.o-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;

  @include avariable("z-index", "sidebar-zindex", $sidebar-zindex);

  &__content {
    position: absolute;

    @include avariable(
      "background-color",
      "sidebar-content-background-color",
      $sidebar-content-background-color
    );
    @include avariable(
      "border-radius",
      "sidebar-border-radius",
      $sidebar-border-radius
    );
    @include avariable("box-shadow", "sidebar-box-shadow", $sidebar-box-shadow);

    @each $name, $pair in $colors {
      $color: list.nth($pair, 1);
      &--#{$name} {
        @include avariable("background-color", ("variant-" + #{$name}), $color);
      }
    }

    // position
    &--right,
    &--left {
      @include avariable(
        "transition-duration",
        "transition-duration",
        $speed-slow
      );
      @include avariable(
        "transition-timing-function",
        "transition-timing",
        $easing
      );
      @include avariable("width", "sidebar-width", $sidebar-width);
      transition: width;
    }

    &--top,
    &--bottom {
      @include avariable(
        "transition-duration",
        "transition-duration",
        $speed-slow
      );
      @include avariable(
        "transition-timing-function",
        "transition-timing",
        $easing
      );
      @include avariable("height", "sidebar-width", $sidebar-width);
      transition: height;
    }

    &--right {
      left: auto;
      right: 0;

      @include evariable(
        "border-left",
        "$width solid $color",
        eparam(
          "$width",
          variable("sidebar-border-width", $sidebar-border-width)
        ),
        eparam(
          "$color",
          variable("sidebar-border-color", $sidebar-border-color)
        )
      );
    }

    &--left {
      left: 0;
      right: auto;

      @include evariable(
        "border-right",
        "$width solid $color",
        eparam(
          "$width",
          variable("sidebar-border-width", $sidebar-border-width)
        ),
        eparam(
          "$color",
          variable("sidebar-border-color", $sidebar-border-color)
        )
      );
    }

    &--top {
      top: 0;
      bottom: auto;

      @include evariable(
        "border-bottom",
        "$width solid $color",
        eparam(
          "$width",
          variable("sidebar-border-width", $sidebar-border-width)
        ),
        eparam(
          "$color",
          variable("sidebar-border-color", $sidebar-border-color)
        )
      );
    }

    &--bottom {
      top: auto;
      bottom: 0;

      @include evariable(
        "border-top",
        "$width solid $color",
        eparam(
          "$width",
          variable("sidebar-border-width", $sidebar-border-width)
        ),
        eparam(
          "$color",
          variable("sidebar-border-color", $sidebar-border-color)
        )
      );
    }

    &--reduced {
      @include avariable(
        "width",
        "sidebar-reduced-width",
        $sidebar-reduced-width
      );

      &-expand {
        &:hover {
          @include avariable(
            "transition-duration",
            "transition-duration",
            $speed-slow
          );
          @include avariable(
            "transition-timing-function",
            "transition-timing",
            $easing
          );
          @include avariable("width", "sidebar-width", $sidebar-width);
          transition: width;
        }
      }
    }

    &--fullwidth {
      width: 100%;
      max-width: 100%;
    }

    &--fullheight {
      height: 100%;
      max-height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    @include avariable("background", "sidebar-overlay", $sidebar-overlay);
  }

  &--active {
    display: block;
  }

  &--inline {
    position: relative;

    .o-side__overlay {
      position: absolute;
    }

    .o-side__content {
      position: relative;
    }
  }
}
