/* @docs */
$tabs-disabled-opacity: var(--#{$prefix}base-disabled-opacity) !default;
$tabs-font-size: var(--#{$prefix}base-font-size) !default;
$tabs-icon-margin: 0 0.5em 0 0 !default;
$tabs-content-padding: 1rem !default;
$tabs-margin-bottom: 1.5rem !default;
$tabs-border-bottom-color: var(--#{$prefix}grey-lighter) !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 1px !default;
$tabs-tab-color: hsl(0, 0%, 29%) !default;
$tabs-tab-active-border-bottom-color: var(--#{$prefix}primary) !default;
$tabs-tab-active-color: var(--#{$prefix}primary) !default;
$tabs-tab-padding: 0.5em 1em !default;
$tabs-boxed-tab-radius: var(--#{$prefix}base-border-radius) !default;
$tabs-boxed-tab-hover-background-color: hsl(0, 0%, 96%) !default;
$tabs-boxed-tab-hover-border-bottom-color: hsl(0, 0%, 86%) !default;
$tabs-boxed-tab-active-background-color: hsl(0, 0%, 100%) !default;
$tabs-boxed-tab-active-border-color: hsl(0, 0%, 86%) !default;
$tabs-boxed-tab-active-border-bottom-color: transparent !default;
$tabs-toggle-tab-border-color: hsl(0, 0%, 86%) !default;
$tabs-toggle-tab-border-style: solid !default;
$tabs-toggle-tab-border-width: 1px !default;
$tabs-toggle-tab-hover-background-color: hsl(0, 0%, 96%) !default;
$tabs-toggle-tab-hover-border-color: hsl(0, 0%, 71%) !default;
$tabs-toggle-tab-active-background-color: var(--#{$prefix}primary) !default;
$tabs-toggle-tab-active-border-color: var(--#{$prefix}primary) !default;
$tabs-toggle-tab-active-color: var(--#{$prefix}primary-invert) !default;
/* @docs */

.o-tabs {
  // size variants
  @each $name, $value in $sizes {
    &--#{$name} .o-tabs__tab {
      font-size: var(--#{$prefix}tabs-font-size-#{$name}, $value);
    }
  }

  &__list {
    @include unselectable;

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    // padding bottom to keep showing the border-bottom
    padding-bottom: var(
      --#{$prefix}tabs-border-bottom-width,
      $tabs-border-bottom-width
    );
  }

  &--left .o-tabs__list {
    justify-content: flex-start;
  }

  &--centered .o-tabs__list {
    justify-content: center;
  }

  &--right .o-tabs__list {
    justify-content: flex-end;
  }

  &__tab {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    margin-bottom: -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-size: var(--#{$prefix}tabs-font-size, $tabs-font-size);
    color: var(--#{$prefix}tabs-tab-color, $tabs-tab-color);
    padding: var(--#{$prefix}tabs-tab-padding, $tabs-tab-padding);
    border: 1px solid transparent;

    &-icon {
      margin: var(--#{$prefix}tabs-icon-margin, $tabs-icon-margin);
    }

    // focus effect
    &:focus,
    &:focus-visible,
    &:focus-within {
      box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus);
      outline: 0;
      border-radius: #{$tabs-boxed-tab-radius};
    }

    &--disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: var(--#{$prefix}tabs-disabled-opacity, $tabs-disabled-opacity);
    }
  }

  &--default .o-tabs__tab {
    border-bottom-color: var(
      --#{$prefix}tabs-border-bottom-color,
      $tabs-border-bottom-color
    );
    border-bottom-style: var(
      --#{$prefix}tabs-border-bottom-style,
      $tabs-border-bottom-style
    );
    border-bottom-width: var(
      --#{$prefix}tabs-border-bottom-width,
      $tabs-border-bottom-width
    );

    &--active {
      border-bottom-color: var(
        --#{$prefix}tabs-tab-active-border-bottom-color,
        $tabs-tab-active-border-bottom-color
      );
      color: var(--#{$prefix}tabs-tab-active-color, $tabs-tab-active-color);
    }

    &:hover:not(.o-tabs__tab--active) {
      background-color: var(
        --#{$prefix}tabs-tab-hover-background-color,
        $tabs-boxed-tab-hover-background-color
      );
      border-bottom-color: var(
        --#{$prefix}tabs-tab-hover-border-bottom-color,
        $tabs-boxed-tab-hover-border-bottom-color
      );
    }
  }

  &--boxed .o-tabs__tab {
    border-radius: var(
      --#{$prefix}tabs-border-bottom-color,
      #{$tabs-boxed-tab-radius} #{$tabs-boxed-tab-radius} 0 0
    );
    border-bottom-color: var(
      --#{$prefix}tabs-border-bottom-color,
      $tabs-border-bottom-color
    );
    border-bottom-style: var(
      --#{$prefix}tabs-border-bottom-style,
      $tabs-border-bottom-style
    );
    border-bottom-width: var(
      --#{$prefix}tabs-border-bottom-width,
      $tabs-border-bottom-width
    );

    &--active {
      color: var(--#{$prefix}tabs-tab-active-color, $tabs-tab-active-color);
      background-color: var(
        --#{$prefix}tabs-boxed-tab-active-background-color,
        $tabs-boxed-tab-active-background-color
      );
      border-color: var(
        --#{$prefix}tabs-boxed-tab-active-border-color,
        $tabs-boxed-tab-active-border-color
      );
      border-bottom-color: var(
        --#{$prefix}tabs-boxed-tab-active-border-bottom-color,
        $tabs-boxed-tab-active-border-bottom-color
      );
    }

    &:hover:not(.o-tabs__tab--active) {
      background-color: var(
        --#{$prefix}tabs-boxed-tab-hover-background-color,
        $tabs-boxed-tab-hover-background-color
      );
    }
  }

  &--toggle .o-tabs__tab {
    border-color: var(
      --#{$prefix}tabs-toggle-tab-border-color,
      $tabs-toggle-tab-border-color
    );
    border-style: var(
      --#{$prefix}tabs-toggle-tab-border-style,
      $tabs-toggle-tab-border-style
    );
    border-width: var(
      --#{$prefix}tabs-toggle-tab-border-width,
      $tabs-toggle-tab-border-width
    );

    &--active {
      background-color: var(
        --#{$prefix}tabs-toggle-tab-active-background-color,
        $tabs-toggle-tab-active-background-color
      );
      border-color: var(
        --#{$prefix}tabs-toggle-tab-active-border-color,
        $tabs-toggle-tab-active-border-color
      );
      color: var(
        --#{$prefix}tabs-toggle-tab-active-color,
        $tabs-toggle-tab-active-color
      );
    }

    &:hover:not(.o-tabs_tab--active) {
      color: var(--#{$prefix}tabs-tab-color, $tabs-tab-color);
      background-color: var(
        --#{$prefix}tabs-toggle-tab-hover-background-color,
        $tabs-toggle-tab-hover-background-color
      );
      border-color: var(
        --#{$prefix}tabs-toggle-tab-hover-border-color,
        $tabs-toggle-tab-hover-border-color
      );
    }
  }

  &--pills .o-tabs__tab {
    border-radius: var(
      --#{$prefix}tabs-boxed-tab-radius,
      $tabs-boxed-tab-radius
    );
    border-color: transparent;

    &--active {
      background-color: var(
        --#{$prefix}tabs-toggle-tab-active-background-color,
        $tabs-toggle-tab-active-background-color
      );
      color: var(
        --#{$prefix}tabs-toggle-tab-active-color,
        $tabs-toggle-tab-active-color
      );
    }

    &:hover:not(.o-tabs_tab--active) {
      color: var(--#{$prefix}tabs-tab-color, $tabs-tab-color);
      background-color: var(
        --#{$prefix}tabs-toggle-tab-hover-background-color,
        $tabs-toggle-tab-hover-background-color
      );
    }
  }

  &--expanded {
    width: 100%;

    .o-tabs__tab {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  &--vertical {
    display: flex;
    flex-direction: row;

    .o-tabs__list {
      flex-direction: column;
      align-items: stretch;
      flex-grow: 0;
      border-bottom: none;
    }

    &.o-tabs--boxed .o-tabs__tab {
      border-bottom-color: transparent;
      border-right-color: var(
        --#{$prefix}tabs-border-bottom-color,
        $tabs-border-bottom-color
      );
      border-radius: var(
        --#{$prefix}tabs-border-bottom-color,
        #{$tabs-boxed-tab-radius} 0 0 #{$tabs-boxed-tab-radius}
      );

      &.o-tabs__tab--active {
        border-right-color: transparent;
        border-bottom-color: var(
          --#{$prefix}tabs-border-bottom-color,
          $tabs-border-bottom-color
        );
      }
    }
  }

  &--right {
    flex-direction: row-reverse;

    &.o-tabs--boxed .o-tabs__tab {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: var(
        --#{$prefix}tabs-border-bottom-color,
        $tabs-border-bottom-color
      );
      border-radius: var(
        --#{$prefix}tabs-border-bottom-color,
        0 #{$tabs-boxed-tab-radius} #{$tabs-boxed-tab-radius} 0
      );

      &.o-tabs__tab--active {
        border-left-color: transparent;
        border-right-color: var(
          --#{$prefix}tabs-border-bottom-color,
          $tabs-border-bottom-color
        );
        border-bottom-color: var(
          --#{$prefix}tabs-border-bottom-color,
          $tabs-border-bottom-color
        );
      }
    }
  }

  &__content {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--transitioning {
      overflow: hidden;
    }

    &:not(:has(.o-tabs__panel:empty)) {
      padding: var(--#{$prefix}tabs-content-padding, $tabs-content-padding);
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--#{$prefix}tabs-margin-bottom, $tabs-margin-bottom);
  }
}
