@use "sass:list";
@use "../utils/helpers" as h;
@use "../utils/variables" as vars;
@use "./input";

/* @docs */
$taginput-counter-font-size: 0.85rem !default;
$taginput-counter-spacer: h.useVar("control-spacer") !default;
$taginput-item-spacer: h.useVar("control-spacer") !default;
/* @docs */

.o-taginput {
    @include h.defineVar(
        "taginput-counter-font-size",
        $taginput-counter-font-size
    );
    @include h.defineVar("taginput-counter-spacer", $taginput-counter-spacer);
    @include h.defineVar("taginput-item-spacer", $taginput-item-spacer);

    display: flex;

    // extend o-input design
    @extend .o-input;

    // define focus shadow effect
    @include h.focusable(".o-taginput__container");

    // disable input focus
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        .o-input__input:not(.o-taginput__container) {
            box-shadow: unset !important;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding: 0;
        height: fit-content;

        // pretend container is input element
        @extend .o-input__input;
    }

    &__autocomplete {
        flex-grow: 1;
        flex-shrink: 1;
        width: auto;
    }

    &__input {
        border: none;
        box-shadow: none;
    }

    &__item {
        margin: calc(0.5 * h.useVar("taginput-item-spacer"));
        font-size: h.useVar("tag-font-size");

        &:first-child {
            margin-left: h.useVar("taginput-item-spacer");
        }
    }

    &__counter {
        display: inline-flex;
        float: right;
        align-items: center;
        font-size: h.useVar("taginput-counter-font-size");
        margin: h.useVar("taginput-counter-spacer");
    }

    &--disabled {
        @include h.disabled(h.useVar("input-disabled-opacity"));
    }

    &--expanded {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
