@use "sass:list";

/* @docs */
$taginput-counter-font-size: 0.75rem !default;
$taginput-counter-margin: 0.25rem 0 0 0.5rem !default;
$taginput-item-background-color: var(--#{$prefix}primary) !default;
$taginput-item-color: var(--#{$prefix}primary-invert) !default;
$taginput-item-border-radius: var(--#{$prefix}base-border-radius) !default;
$taginput-item-margin: 0.275em !default;
$taginput-item-padding: 0 0.75em 0 0.75em !default;
$taginput-item-icon-margin: 0.5em !default;
/* @docs */

.o-taginput {
  display: flex;

  &__container {
    display: flex;
    flex-wrap: wrap;

    box-shadow: var(--#{$prefix}input-box-shadow, $input-box-shadow);
    background-color: var(
      --#{$prefix}input-background-color,
      $input-background-color
    );
    border-color: var(--#{$prefix}input-border-color, $input-border-color);
    border-style: var(--#{$prefix}input-border-style, $input-border-style);
    border-width: var(--#{$prefix}input-border-width, $input-border-width);
    border-radius: var(--#{$prefix}input-border-radius, $input-border-radius);
    color: var(--#{$prefix}input-color, $input-color);
    font-size: var(--#{$prefix}base-font-size, $base-font-size);
    line-height: var(--#{$prefix}input-line-height, $input-line-height);
    margin: var(--#{$prefix}input-margin, $input-margin);
    width: var(--#{$prefix}taginput-width, inherit);
  }

  &__autocomplete {
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
  }

  &__input {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  // size variants
  @each $name, $value in $sizes {
    &--#{$name} {
      font-size: var(--#{$prefix}taginput-font-size-#{$name}, $value);
    }
  }

  &__item {
    display: inline-flex;
    margin: var(--#{$prefix}taginput-item-margin, $taginput-item-margin);
    padding: var(--#{$prefix}taginput-item-padding, $taginput-item-padding);
    color: var(--#{$prefix}taginput-item-color, $taginput-item-color);
    background-color: var(
      --#{$prefix}taginput-item-background-color,
      $taginput-item-background-color
    );
    border-radius: var(
      --#{$prefix}taginput-item-border-radius,
      $taginput-item-border-radius
    );

    // color variants
    @each $name, $pair in $colors {
      $color: list.nth($pair, 1);
      $color-invert: list.nth($pair, 2);

      &--#{$name} {
        --#{$prefix}focus: #{createFocus($color)};

        background-color: var(--#{$prefix}variant-#{$name}, $color);
        color: var(--#{$prefix}variant-invert-#{$name}, $color-invert);
      }
    }

    // focus effect
    &:focus,
    &:focus-visible,
    &:focus-within {
      box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus);
      outline: 0;
    }

    &__close {
      margin-left: var(
        --#{$prefix}taginput-item-icon-margin,
        $taginput-item-icon-margin
      );
    }
  }

  &__counter {
    display: block;
    float: right;
    font-size: var(
      --#{$prefix}taginput-counter-font-size,
      $taginput-counter-font-size
    );
    margin: var(--#{$prefix}taginput-counter-margin, $taginput-counter-margin);
  }

  &--expanded {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
