@use "./helpers" as h;

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: h.useVar("font-family");
    font-size: h.useVar("font-size");
    font-weight: h.useVar("font-weight");
    line-height: h.useVar("line-height");
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.o-scroll-keep {
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.o-scroll-clip {
    overflow: hidden;
}
