*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--#{$prefix}base-font-family, $base-font-family);
  font-size: var(--#{$prefix}base-font-size, $base-font-size);
  font-weight: var(--#{$prefix}base-font-weight, $base-font-weight);
  line-height: var(--#{$prefix}base-line-height, $base-line-height);
}

img,
video {
  max-width: 100%;
  height: auto;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.o-noscroll {
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.o-clipped {
  overflow: hidden;
}
